<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
</head>

<header class="imagem">
    <img class="ajuste" src="images\teste.png" style="padding: 50px;">
</header>

<form id="searchMusicForm">

    <div class="right-form">
        <SELECT class="ordernar" id='tri'>
            <OPTION value="" disabled selected>Ordenar por:</option>
            <OPTION value="ARTIST_ASC">Artista</OPTION>
            <OPTION value="TRACK_ASC">Título</OPTION>
            <OPTION value="ALBUM_ASC">Album</OPTION>
            <OPTION value="RATING_ASC">Populares</OPTION>
            <OPTION value="RANKING">Mais tocadas</OPTION>
        </SELECT>
    </div>

    <form class="w3-container">
        <br>
        <input class="w3-input" type="text" placeholder="Buscar" id="maRecherche">

        <button class="buscar"><i class="fa-solid fa-magnifying-glass"></i></a>
    </form>
</form>